<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>send</display-name>
  <context-param>
    <param-name>contextConfigLocation</param-name><!-- ServletContext初始化参数 -->
    <param-value>classpath:applicationContext.xml</param-value><!-- 初始化参数的值 -->
  </context-param>
  <!-- 这块的Listener的作用是启动Web容器时，
  	       自动装配ApplicationContext的配置信息。
  	       因为它实现了ServletContextListener这个接口，
  	       在web.xml配置这个监听器，启动容器时，就会默认执行它实现的方法 -->
   <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener> 
  <filter>
  	<filter-name>struts2</filter-name>
  	<filter-class>
  		org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
  	</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>struts2</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>